@model PokerBet.Models.CheckModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">

   .roundedBorder {
		background-color: White;
		border: 3px solid #000;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		-moz-border-radius-topright: 10px;   
		-moz-border-radius-topleft: 10px;
		text-align: center;
	}
	#check-table {
		font-family: verdana;
		font-size:12px  
	}
	
	@*table tr td
	{
	    width: 150px;     
	}
	
	table tr td:first-child
	{
	    width: 95px;     
	}*@
</style>
<script type="text/javascript" src="/Scripts/slipprint.js"></script>
</head>
<body>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-15084876-6']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<img src="/images/bkleaderlogo.png" style="margin-left: 14px;">
<table id="check-table">
		<tr><td>Торговый офис</td><td><b>Leader72_1</b></td></tr>
		<tr><td>Номер контракта</td><td><b>@Model.ContractNumber</b></td></tr>
		<tr><td>Дата и время</td><td><b>@Model.CurrentDate.ToString("dd.MM.yy HH:mm:ss") </b></td></tr>
		<tr><td></td><td></td></tr>
		<tr><td colspan="2" align="center">Условие</td></tr>
		<tr><td></td><td></td></tr>

        @foreach (var game in Model.Games)
        {
            <tr><td>Событие</td><td><b>(@game.Event)</b></td></tr>
            <tr><td>Начало</td><td><b>@game.StartDate.ToString("dd.MM.yy HH:mm:ss")</b></td></tr>
            <tr><td>Выбор</td><td><b>___________ Покер - стол @game.TableNumber #@game.TableCode</b></td></tr>
            <tr><td></td><td><b>(E-League)</b></td></tr><tr><td></td><td><b>Кто победит? - Игрок  @game.Winner</b></td></tr>
            <tr><td>Индекс</td><td><b>@game.Index</b></td></tr><tr><td></td></tr>	
        }


        @*       
            <tr><td>Событие</td><td><b>(2169051)</b></td></tr>
            <tr><td>Начало</td><td><b>2012-05-14 15:46:15</b></td></tr>
            <tr><td>Выбор</td><td><b>___________ Покер - стол 1 #170511</b></td></tr>
            <tr><td></td><td><b>(E-League)</b></td></tr><tr><td></td><td><b>Кто победит? - Игрок  10</b></td></tr>
            <tr><td>Индекс</td><td><b>1.27</b></td></tr><tr><td></td></tr>	
        *@


        	
        <tr><td>Возможная маржа</td><td>@Model.Margin</td></tr>        
        <tr><td>Сумма контракта</td><td>@Model.ContractSum</td></tr>
		<tr><td colspan="2"><img src="@Url.Action("Barcode", new { code = Model.ContractNumber }) style="margin-left: 14px;""></td></tr>
	</table>
</body>
</html>
